<div class="row">  
  <div class="col s12">   
    <div class="card">      
      <div class="card-content"> 
        <span class="card-title">
          <h5><i class="material-icons">edit</i>Update Details</h5> 
        </span>       
        <form action="/admin/update/sub_admin?_method=PUT" method="POST">
          <div class="input-field">
            <i class="material-icons prefix active">person</i>
            <input type="text" id="userName01" name="userName" value="" required>
            <label id="userName02" for="userName">Username</label>
          </div>
          <div class="input-field">
            <i class="material-icons prefix active">phone</i>
            <input type="text" id="phone01" name="phone" value="" required>
            <label id="phone02" for="phone">Mobile Number</label>
          </div> 
          <input type="hidden" name="subAdminId" value="{{subAdminId}}">         
      </div>
      <div class="card-action">
        <button type="submit" class="btn waves-effect blue darken-3">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>