<footer class="page-footer blue darken-3 footer">
  <div class="footer-copyright">
    <div class="container">
      Copyright &COPY; 2018
      <a href="#">Powered By TodayTechnologies</a>
    </div>
  </div>
</footer>